html, body{
    width: 100%;
}

body{
    position: absolute;
    top: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    background: var(--bg1-grad);
    /* background: linear-gradient(222deg, var(--bg1-grad) 0%, var(--bg2-grad) 100%); */
}

.banner{
    display: flex;
    flex-direction: column;

    top: 0;
    width: 100%;
    height: 350px;
}

.banner__select{
    display: flex;
    flex-direction: column;

    top: 0;
    width: 100%;
    height: 100%;    
    background-image: url('../img/banner/hbomax.jpg');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    transition: 0.5s;
    z-index: 10 ;
}
.border__grd--top{
    margin: -2px;
    width: 100%;
    height: 140px;
    background: linear-gradient(180deg, var(--bg1-grad) 0%, rgba(241,241,241,0) 100%);
}
.border__grd--bottom{
    margin: -2px;
    width: 100%;
    height: 140px;
    background: linear-gradient(180deg, rgba(241,241,241,0) 0%, var(--bg1-grad) 100%);
}

.container__service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.container__categoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.cetegoria__name{
    color: var(--bg1-default);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 900;
    padding: 0px 10px;
}
.arrow__right{
    left: 0;
    padding: 30px 10px;

    position: absolute;
    border-radius: 50%;
    font-size: 20px;
    color: var(--bg1-default);
    z-index: 100;
}
.arrow__left{
    right: 0;
    padding: 30px 10px;
    transform: rotate(180deg);

    position: absolute;
    border-radius: 50%;
    font-size: 20px;
    color: var(--bg1-default);
    z-index: 100;
}

.service__list{
    margin: 0px 35px;

    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.service_item img{
    width: 250px;
    height: 140px;
    border-radius:  10px;
    margin: 5px;
    background-color: var(--bg2-contracts);
    box-shadow: 0 2px 8px 0 rgba(146, 146, 146, 0.16);
    transition: 0.3s;
}
.service_item img:hover{
    transform: scale(1.05);
    transition: 0.3s;
}


.service__list-full{
    display: flex;
    justify-content: center;
    width: 100%;
    white-space: nowrap;
    flex-wrap: wrap;
}

.service__list-full img{
    width: 250px;
    height: 140px;
    border-radius:  20px;
    margin: 10px;
    background-color: var(--bg2-contracts);
    box-shadow: 0 4px 12px 0 rgba(146, 146, 146, 0.16);
    transition: 0.3s;
    z-index: 100;
}
.service_item img:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.bg__popup{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    z-index: 500;
}

.container__shop{
    top: 0;
    right: 0;
    position: absolute;
    box-shadow: 2px -33px 23px #000000;

    width: 400px;
    height: 100%;
    background-color: var(--bg1-grad);

    z-index: 300;
}

.shop__box--top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;

    width: 100%;
    height: 50px;
    z-index: 500;
}

.shop__box--top i{
    margin: 0px 15px;
    padding: 2px 7px;
    border-radius:  50%;
    font-size: 30px;
    color: var(--text-default);

    transition: 0.3s;
}
.shop__box--top i:hover{
    background-color: var(--main-danger);
    transition: 0.3s;
}
.shop__box--img{
    top: 0;
    position: absolute;
    height: 30%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    transition: 0.5s;
    z-index: 300;
}

.shop__box--info{
    margin-top: 60%;
}
.info__line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
    padding: 0px 20px;
}
.info__name{
    font-size: 13px;
    color: var(--bg3-default);
}
.info{
    color: var(--bg1-default);
    font-size: 19px;
    font-weight: 500;
}

.shop__box--buttom{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    width: 100%;
}
.btn__contratar{
    margin: 10px 0px;
    padding: 15px;
    width: 80%;
    background-color: var(--bg-type2);
    color: var(--bg1-default);
    border: none;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    overflow: hidden;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
}
.btn__contratar:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

/* Mobile cursor */
@media (pointer: coarse) {
    .arrow__left{
        display: none;
    }
    .arrow__right{
        display: none;
    }
    .service__list{
        margin: 0px;
    }
}

/* tablet layout*/
@media only screen and (max-width: 930px) {
    .banner{
        height: 330px;
    }
    .border__grd--top{
        height: 140px;
    }
    .border__grd--bottom{
        height: 140px;
    }
}

/* Mobile layout */
@media only screen and (max-width: 430px) {
    .banner{
        height: 220px;
    }
    .border__grd--top{
        height: 100px;
    }
    .border__grd--bottom{
        height: 100px;
    }
    .container__shop{
        width: 100%;
    }
}

/* Mobile layout */
@media only screen and (max-width: 380px) {
    .banner{
        height: 230px;
    }
    .border__grd--top{
        height: 70px;
    }
    .border__grd--bottom{
        height: 70px;
    }
}



