html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    background: linear-gradient(222deg, var(--bg1-grad) 0%, var(--bg2-grad) 100%);
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1.6em;
    font-family: 'DM Sans', sans-serif;
}

.login__page-wave{
    position: absolute;
}
.wave1 {
    fill: var(--bg1-contracts);
}
.wave2{
    fill: var(--bg2-contracts);
}

.bg__login-top{
    width: 100%;
    height: 33%;
    position: absolute;
    top: 0;
    background: linear-gradient(222deg, rgba(255,146,23,1) 0%, rgba(255,197,74,1) 100%);
}

.principal__container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__login{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:  column;

    width: 40%;
    height: 65%;
    max-width: 400px;
    max-height: 430px;

    padding: 50px;
    background-color: var(--bg1-default);
    border-radius: 20px;
    box-shadow: 0 4px 12px 0 rgb(35 35 35 / 16%);

    z-index: 10;
}

.container__login-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.container__login-top .logo img {
    width: 170px;
    height: 90px;
}
.container__login-top .logo .logo__img-white{
    display: none;
}
.container__login-top .logo .logo__img-black{
    display: black;
}


.frase{
    margin-top:  40px;
    font-size: 30px;
    font-weight: 600;
    color:var(--bg1-default);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container__login-mid{
    width: 80%;
}

.form__line{
    display: flex;
    align-items: center;
    width: 100%;

    margin: 10px 0px ;
}

.form__line button{
    margin: 10px 0px;
    padding: 15px;
    width: 100%;

    background-color: var(--bg-type2);
    color: var(--bg1-default);
    border: none;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    overflow: hidden;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.form__line input{
    width: 100%;
    background-color: var(--bg1-default);
    border: 3px solid transparent;
    border-radius: 30px;
    box-shadow: rgb(35 35 35 / 25%) 0px 1px 4px 0px;
    color: rgb(58, 57, 57);
    font-size: 14px;
    margin: 0px;
    padding: 15px 15px 15px 45px;
    font-family: 'DM Sans', sans-serif;
    transition: 0.6s;
}

.form__line input:focus-visible{
    outline: none;
    border-radius: 15px;
    border: 3px solid ;
    border-color: var(--bg1-contracts);
    transition: 0.6s;
}

.form__line input::placeholder {
    color: var(--bg3-default);
}

.form__line i{
    position: absolute;
    margin-left: 15px;
    color:var(--bg3-default);
}
.container__login-buttom{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
}
.container__login-buttom span{
    font-size: 12px;
    font-weight: 600;
    color: var(--bg-type2);
}

.container__login-buttom i{
    margin: 0px 7px;
    font-size: 30px;
    color: var(--bg-type2);
    cursor: pointer;
}

/* Mobile layout */
@media only screen and (max-width: 680px) {

    .container__login{
        padding: 0px;
        max-width: none;
        max-height: none;
        height: 100%;
        width: 100%;
        background: transparent;
    }

    .container__login-buttom i{
        color: var(--bg1-default);
        font-size: 40px;
    }
    .container__login-buttom span{
        font-size: 15px;
        font-weight: 600;
        color: var(--bg1-default);
    }
    .container__login-top .logo i{
        background-color: var(--bg1-default);
        color: var(--bg1-contracts);
    }
    .container__login-top .logo .logo__img-white{
        display: block;
    }
    .container__login-top .logo .logo__img-black{
        display: none;
    }
    
}

.esqueci_senha {
    font-size: 14px;
    line-height: 1.6em;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}