@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

:root {
  --bg1-default: #fff;
  --bg2-default: #e9e9e9;
  --bg3-default: #a8a7a7;

  --bg1-grad: rgba(0, 24, 57,1);
  --bg2-grad: rgba(1, 52, 124,1);
  --bg3-grad: rgba(0, 79, 175);


  --bg1-contracts: #001839;
  --bg2-contracts: #01347c;
  --bg3-contracts: #0049af;

  --bg-type2: #fc5c00;

  --text-default: #fff;
  --text-contracts: #ffc901;
}

/* Visuais da ScrolBar */
::-webkit-scrollbar {
  background: transparent;
  padding: 20px 0px;
  width: 5px;
  height: 5px;

}
::-webkit-scrollbar-thumb {
  /* background-color: var(--text-contracts);  */
  border-radius: 20px;
}
